[submodule "backend"]
	path = backend
	url = https://github.com/Kanto-Pharmaceuticals/pokedex-application-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Kanto-Pharmaceuticals/pokedex-application-frontend.git
